[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
asyncpg = "*"
python-dotenv = "*"
lavalink = "*"
humanize = "*"
wavelink = {git = "https://github.com/PythonistaGuild/Wavelink.git"}
"akinator.py" = "*"
jishaku = "*"
google = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
google-api-python-client = "*"
colorlog = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
